{% extends 'app1/base.html' %}
{% load static %}
{% block title %}   {% endblock %}

{% block body %}  



<div data-role="page-header"><div data-role="control" data-type="form-header" data-hash="00000002" data-type-id="27" data-colspan="20" id="form-heading-00000002-acc" aria-labelledby="form-heading-00000002-acc" data-i18n-html="Headline" class="my-5"><h1 style="text-align:center"><span style="color:#333333"><strong>About Us</strong></span></h1>
    <br>
    <div class="container text-center">
    <h5 ><span style="color:#333333">We Here For You. </span></h5>
    <br>
    <br>
    <hr>
    </div></div>


<div class="container">
    <br>
    <br>
<div class="container  text-center">
<h3>
    Welcome to our platform, where opportunities meet talent! We are a dynamic online platform that aims to bridge the gap between job givers and job seekers, revolutionizing the way people find and offer employment opportunities. Our mission is to create a seamless and efficient ecosystem where job seekers can discover their dream jobs and job givers can find the perfect candidates to grow their businesses.
</h3>
</div>

<br>
    <br>
<div class="container my-5 text-center">
<h4>    For Job Givers:   </h4>
    
   <h5> Are you a business owner, HR manager, or someone looking to hire talented individuals for your company? Look no further! Our platform provides you with an easy-to-use interface that allows you to post job openings, specify the required skills and qualifications, and reach out to a vast pool of potential candidates. With our advanced matching algorithms, you can quickly find the most suitable individuals who align with your company's values and vision. Save time and resources as you hire the best talent for your team!
</h5>
</div>
<br>
    <br>
<div class="container my-5 text-center" >
   <h4> For Job Seekers:</h4>
    
   <h5> Are you on the hunt for your dream job? You've come to the right place! Our platform offers a user-friendly experience for job seekers to create compelling profiles, showcase their skills and experiences, and search for job opportunities across various industries. We understand that finding the right job can be challenging, so we've designed our system to recommend personalized job listings that match your qualifications and preferences. Get noticed by top employers and kickstart your career with our cutting-edge platform.</h5>
</div>

<br>
    <br>
   <div class="container my-5 text-center">

  <h3> Join Us Today!</h3>

  <h5> If you are a job giver or a job seeker, don't miss out on the incredible opportunities our platform has to offer. Join our community and take advantage of the seamless interface that brings job givers and job seekers together. Together, let's shape the future of employment and empower businesses to thrive while helping individuals achieve their career aspirations. Thank you for being a part of our journey!
</h5>
</div>

</div>

{% endblock %}